body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
button {
  color: var(--color-txt);
}

.catchy {
  position: relative;
}

.catchy::before {
  position: absolute;
  inset: 0;
  z-index: 0;
  content: " ";
  user-select: none;
  pointer-events: none;
  background-image: url("../assets/noise/paper.jpg");
  background-repeat: space;
  opacity: 0.1;
  background-color: transparent;
}
